<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a [routerLink]="['post']" class="navbar-brand"
      ><span class="bg-warning text-dark p-1">Free</span>Media</a
    >
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLink]="['post']" class="nav-link">Explore</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if(!isLogin){
        <li class="nav-item">
          <a [routerLink]="['/auth/login']" class="nav-link">Login</a>
        </li>
        } @else {
        <li class="nav-item">
          <a class="nav-link">Tolgahan Tom</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/auth/login']" class="nav-link" (click)="logout()"
            >Logout</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
